*, *:before, *:after {
  box-sizing: border-box;
  font-family: verdana;
  font-weight: 100;
  margin: 0;
  padding: 0px;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
html {
}
body {
  border: 0;
  background-color: #f9f9f9;
}
#main_container {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom:5px;
}
#login {
  width: 10000px;
  padding: 10px 0 10px 0;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table-cell;
  vertical-align: middle;
}
.projectIcon {
  cursor: pointer;
  text-align: center;
  float: left;
  width: 125px;
  height: 145px;
  margin: 15px;
  user-select: none;
  background-color: #333;
  color: white;
}
.menu {
  color: #FFF;
  background-image: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
  background-size:cover;
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.menu .iconSmall {
  cursor: pointer;
  text-align: center;
  float: left;
  width: 75px;
  user-select: none;
  position: relative;
}
.menu .iconSmall .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 44px;
  z-index: 1000;
}
.memberStatus {
  background-color: #3fba3b;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  margin: 10px;
  user-select: none;
}
.leaderStatus {
  background-color: #d1d12e;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  margin: 10px;
  user-select: none;
}
.listLight {
  color: #666;
  list-style-type: none;
  clear: both;
}
.listLight .userIcon {
  text-align: center;
  float: left;
  user-select: none;
}
.listLight li {
  cursor: pointer;
}
.listLight .seperator {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ccc;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}
.listLight .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
.listLight .button {
  cursor: pointer;
  margin: 2px 5px 2px 5px;
  width:100px;
  height:20px;
  float:left;
  text-align:center;
  border-style:solid;
  border-width:thin;
  border-radius:10px;
  user-select: none;
}
.listLight .selected {
  background-color: #eee !important;
}
.buttonDiv {
  cursor: pointer;
  color: #4b5cd8;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width:100px;
  text-align:center;
  border-style:solid;
  border-width:thin;
  border-radius:4px;
  user-select: none;
}
button {
  cursor: pointer;
  background: #3586c4;
  width: 90%;
  max-width: 250px;
  border: 0;
  padding: 7px;
  margin: 10px;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
  text-align:center;
  user-select: none;
}
input {
  width: 90%;
  border-width: thin;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}
.textAreaInput {
  resize: none;
  overflow-y: scroll;
  width: 90%;
  border-width: thin;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}
.cornerButton {
  border-style:solid;
  border-width:thin;
  line-height:35px;
  font-size:20px;
  text-align:center;
  margin: 0 10px 0 10px;
  background-color:#FEF;
  border-color:#AAA;
  border-radius:3px;
  height:40px;
  width:40px
}
.message {
  font-size: 10px;
  background: #1db217;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.message .general {
  background: #1db217;
}
.message .important {
  background: #e08600;
}
.message .urgent {
  background: #ff4300;
}
/* Form Module */
.form-module {
  background: #ffffff;
  max-width: 320px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .form {
  padding: 20px;
}
.form-module .top {
  background: #f2f2f2;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
}
.form-module .cta a {
  font-size: 10px;
  color: #333333;
  text-decoration: none;
}
hr {
    display: block;
    margin: 10px 10px 10px 10px;
    border-style: ridge;
    border-width: thin;
}
.sheet {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.sheet .title {
  padding:10px;
  color:#4b4f56;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 15px;
  clear:both;
}
.sheet .content {
  padding: 5px 10px 5px 10px;
}
.sheetBadge {
  width:280px;
  margin: 10px auto;
  border-radius:10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    color: blue;
    cursor: pointer;
}
progress {
  z-index: 9999999;
  position: fixed;
  top: 0;
  -webkit-appearance:none;
  appearance:none;
  width:100%;
  height:3px;
  background-color: white;
}
progress::-webkit-progress-bar {
  background-color: transparent; width: 100%;
}
progress::-webkit-progress-value {
  background-color: #4e86e0 !important;
}
.fullScreenImage {
  z-index: 99999999999;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color:#0e0e0e;
  object-fit:contain;
  cursor: pointer;
}
.fullScreenImage:hover{
  opacity: 1;
}
.imageWithZoom {
  cursor: pointer;
}
iframe {
  border:none;
}
.inputTitle {
  border-radius: none;
  width: 100%;
  padding: 5px;
  margin: 0px;
  border: none;
  color:#4b4f56;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
.appIcon {
  width:80px;
  padding:5px;
  text-align:center;
  float:left;
  cursor:pointer;
}
.appIcon:hover {
  background-color: #EEE;
}
img {
  image-orientation:from-image;
}
img:hover {
  opacity: 0.95;
}
.editButton {
  width:25px;
  margin:5px 10px 5px 10px;
  cursor:pointer;
}
.note {
  white-space: pre-wrap;
  overflow-y: scroll;
  border-radius: none;
  width: 100%;
  padding: 5px;
  margin: 0px;
  border: none;
  color:#4b4f56;
  font-size: 12px;
  line-height: 12px;
}
