*, *:before, *:after {
  box-sizing: border-box;
  font-family: verdana;
  font-weight: 100;
  margin: 0;
  padding: 0px;
  font-size: 12px;
  overflow: hidden;
}
html {
}
body {
  border: 0;
  height: 100vh;
  overflow-y: scroll;
}
#middle_column {
  width: 100%;
  height: 100%;
}
#app_container {
  overflow-y: auto;
  padding: 10px;
  background-color: #eee;
}
#login {
  height: 100vh;
  width: 10000px;
  padding: 25px 0 25px 0;
  background: #2591c6;
  background-size:cover;
  background-position: center;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table-cell;
  vertical-align: middle;
}
.menu {
  min-height: 100px;
  color: #FFF;
  background-image: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
  background-size:cover;
  background-position: center;
}
.menu .icon {
  cursor: pointer;
  text-align: center;
  float: left;
  width: 60px;
  height: 65px;
  padding-top: 5px;
  margin: 10px 5px 10px 0;
}
.menu .icon .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 6px;
  position: relative;
  top: -63px;
  left: 45px;
  z-index: 1000;
}
.memberStatus {
  background-color: #3fba3b;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  margin: 10px;
}
.leaderStatus {
  background-color: #d1d12e;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  margin: 10px;
}
.chat{
  overflow-y: auto;
  height: 400px;
  padding: 5px;
}
.listDark {
  background: #222;
  color: white;
  padding: 20px;
  list-style-type: none;
}
.listDark .title {
  padding:7px;
  color:#AAA;
}
.listDark .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 6px;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1000;
}
.listDark .button {
  cursor: pointer;
  margin: 2px 5px 2px 5px;
  width:100px;
  height:20px;
  float:left;
  text-align:center;
  border-style:solid;
  border-width:thin;
  border-radius:10px
}
.listDark li {
  cursor: pointer;
  position: relative;
  left: 0;
  border-radius: 4px;
  padding: 5px;
}
.listDark .selected {
  background-color: #666 !important;
}
.titleSeperator {
  background-color: #EEE;
  color: #888;
  padding: 15px;
  text-align: center;
}
button {
  cursor: pointer;
  background: #3586c4;
  width: 90%;
  max-width: 250px;
  border: 0;
  padding: 7px;
  margin: 10px;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
  text-align:center;
}
input {
  width: 90%;
  border-width: thin;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}
.message {
  font-size: 10px;
  background: #1db217;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.message .general {
  background: #1db217;
}
.message .important {
  background: #e08600;
}
.message .urgent {
  background: #ff4300;
}
/* Form Module */
.form-module {
  background: #ffffff;
  max-width: 320px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .form {
  padding: 40px;
}
.form-module .top {
  background: #f2f2f2;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
}
.form-module .cta a {
  font-size: 10px;
  color: #333333;
  text-decoration: none;
}
hr {
    display: block;
    margin: 10px 10px 10px 10px;
    border-style: ridge;
    border-width: thin;
}
.sheet {
  width: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.sheet .title {
  font-size: 15px;
  padding: 10px;
}
.sheet .content {
  padding: 10px;
}
