*, *:before, *:after {
  box-sizing: border-box;
  font-family: verdana;
  font-weight: 100;
  margin: 0;
  padding: 0px;
  font-size: 12px;
  overflow: hidden;
}
html {
}
body {
  border: 0;
  height: 100vh;
  overflow-y: scroll;
}
#main_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#middle_column {
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.menu {
  min-height: 100px;
  color: #FFF;
  background-image: linear-gradient(145deg, rgb(13, 71, 161), rgb(66, 165, 245));
  background-size:cover;
  background-position: center;
}
.menu .icon {
  text-align: center;
  float: left;
  width: 60px;
  height: 65px;
  padding-top: 5px;
  margin: 10px 5px 10px 0;
}
.menu .icon .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 6px;
  position: relative;
  top: -63px;
  left: 45px;
  z-index: 1000;
}
#app_container {
  overflow-y: auto;
}
.selected {
  background-color: #666 !important;
  color: white;
}
.user {
  padding: 5px;
}
.user .memberStatus {
  background-color: #1d7caf;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  float: left;
  margin: 5px 5px 5px 5px;
}
.chat{
  overflow-y: auto;
  height: 400px;
  padding: 5px;
}
.chat-input{
  padding: 5px;
}
.teamProfile{
  padding: 5px;
}
.listDark {
  background: #222;
  color: white;
  padding: 20px;
  list-style-type: none;
  width: 100%;
}
.listDark .activity {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 6px;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1000;
}
.listDark li {
  cursor: pointer;
  position: relative;
  left: 0;
  border-radius: 4px;
  padding: 5px;
}
.listDark li.selected:hover {
  background-color: #BBD8DC !important;
}
.listDark li:hover {
  color: #607D8B;
  background-color: #DDD;
}
.titleSeperator {
  width: 100%;
  background-color: #EEE;
  color: #888;
  padding: 5px;
  padding-top: 15px;
  text-align: center;
}
img {
}
img:hover {
}
img.active {
}
button {
  cursor: pointer;
  background: none;
  width: 95%;
  border: 0;
  padding: 7px;
  margin: 5px;
  color: blue;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
  border-width: thin;
  border-color: white;
  border-style: solid;
  text-align: left;
}
button:hover {
  border-color: inherit;
}
button:active {
  background: #acc0e0;
}
input {
  outline: none;
  display: block;
  width: 95%;
  border: none;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}
input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
#login {
  height: 100vh;
  width: 800px;
  padding: 25px 0 25px 0;
  background: #2591c6;
  background-size:cover;
  background-position: center;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table-cell;
  vertical-align: middle;
}
.message {
  font-size: 10px;
  background: #1db217;
  width: 100%;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.message .general {
  background: #1db217;
}
.message .important {
  background: #e08600;
}
.message .urgent {
  background: #ff4300;
}
/* Form Module */
.form-module {
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .form {
  padding: 40px;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #666666;
  text-align: center;
}
.form-module .cta a {
  font-size: 10px;
  color: #333333;
  text-decoration: none;
}
hr {
    display: block;
    margin: 10px 10px 10px 10px;
    border-style: ridge;
    border-width: thin;
}
