<mat-form-field>
  <mat-label>Confirm password</mat-label>
  <input matInput [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" (keyup)="messageUser=''"/>
</mat-form-field> 

<mat-form-field>
  <mat-label>Firstname</mat-label>
  <input matInput [(ngModel)]="name" name="name" type="text" (keyup)="messageUser=''"/>
</mat-form-field>

<mat-form-field>
  <mat-label>Lastname</mat-label>
  <input matInput maxlength="500" [(ngModel)]="familyName" name="familyName" type="text" (keyup)="messageUser=''"/>    
</mat-form-field>

<div>
  <button mat-raised-button (click)="register(email,password,passwordConfirm,name,familyName)" color="primary">Register</button>
</div>

<!-- <input maxlength="500" [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm password *" (keyup)="messageUser=''"/>
<input maxlength="500" [(ngModel)]="name" name="name" type="text" placeholder="First name *" (keyup)="messageUser=''"/>
<input maxlength="500" [(ngModel)]="familyName" name="familyName" type="text" placeholder="Last name *" (keyup)="messageUser=''"/>
<button type="button" (click)="register(email,password,passwordConfirm,name,familyName)">Register</button> -->
